<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Загадка Эйнштейна</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/title/add}">


    <label for="color">Выберите цвет: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>


    <select th:object="${color}" th:field="*{id}" id="color">
        <option th:each="color: ${colors}" th:value="${color.getId()}"
                th:text="${color.getName()}"></option>
    </select>

    <select th:object="${color}" th:field="*{id2}" id="color2">
        <option th:each="color: ${colors}" th:value="${color.getId()}"
                th:text="${color.getName()}"></option>
    </select>

    <select th:object="${color}" th:field="*{id3}" id="color3">
        <option th:each="color: ${colors}" th:value="${color.getId()}"
                th:text="${color.getName()}"></option>
    </select>

    <select th:object="${color}" th:field="*{id4}" id="color4">
        <option th:each="color: ${colors}" th:value="${color.getId()}"
                th:text="${color.getName()}"></option>
    </select>

    <select th:object="${color}" th:field="*{id5}" id="color5">
        <option th:each="color: ${colors}" th:value="${color.getId()}"
                th:text="${color.getName()}"></option>
    </select>

    <br>

    <label for="nationality">Выберите национальность:</label>


    <select th:object="${nationality}" th:field="*{id}" id="nationality">
        <option th:each="nationality: ${nationalities}" th:value="${nationality.getId()}"
                th:text="${nationality.getName()}"></option>
    </select>

    <select th:object="${nationality}" th:field="*{id2}" id="nationality2">
        <option th:each="nationality: ${nationalities}" th:value="${nationality.getId()}"
                th:text="${nationality.getName()}"></option>
    </select>

    <select th:object="${nationality}" th:field="*{id3}" id="nationality3">
        <option th:each="nationality: ${nationalities}" th:value="${nationality.getId()}"
                th:text="${nationality.getName()}"></option>
    </select>

    <select th:object="${nationality}" th:field="*{id4}" id="nationality4">
        <option th:each="nationality: ${nationalities}" th:value="${nationality.getId()}"
                th:text="${nationality.getName()}"></option>
    </select>

    <select th:object="${nationality}" th:field="*{id5}" id="nationality5">
        <option th:each="nationality: ${nationalities}" th:value="${nationality.getId()}"
                th:text="${nationality.getName()}"></option>
    </select>

    <br>

    <input type="submit" value="Проверить"/>
    <br>
    <p th:text="${message}" />
</form>

</body>
</html>